.container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width:50vw;
}
h1{
    color:#1e293b;
}
.innercontainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}
.formcontainer{
    display:flex;
    flex-direction: row;
}
input,textarea,button{
    margin-top: 10px;
}
.commentbtn{
    background-color: #0284c7;
    border-color: #0284c7;
    border-radius: 5px;
    font-weight: bold;
    height:30px;
    color:#fff;
}
.commentimg{
    height:250px;
    padding-left: 50px;
    width:300px;
}
hr{
    margin-right:250px;
}
