
.startletter{
    width:30px;
    height:30px;
    background-color: #f59e0B;
    text-align: center;
     border-radius: 45px;

} 
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
 .username{
    margin-left:20px;
    font-weight: bold;
    font-style: roboto;
}
.name{
    display:flex;
    flex-direction: row;
}
.below{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn1,.like{
    border:0px solid white;
    background-color: white;
}


